
@{
    ViewData["Title"] = "Bán vé thăm quan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using DAL.Models.Customer
@using DAL.Models.Ticket
@using DAL.Entities
@using DAL.Models
@section styles{
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">

    <style>
       

        .btn-num {
            width: 100%;
            padding: 5px 10px;
            font-size: 16pt !important;
            margin: 3px;
            text-align: center;
        }

            .btn-num:hover {
                background: #3c8dbc !important;
                cursor: pointer;
            }

        .ticket-selected {
            background: #0094ff;
            color: #fff;
        }

        .filter-option-inner-inner {
            font-weight: bold;
            color: #333333;
        }


        /*Ticket item list*/
        #div-ticket {
            border:1px solid #f4f4f4;
        }

        .ticket-item {
            color:#333;
        }

            .ticket-item:hover {
                background: #DDF000;
            }

        .ticket-item-selected {
            background: #90F5E7;
        }

        
        
    </style>
}
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1><span id="span-price-policy-available"></span>&nbsp; BÁN VÉ </h1>
            </div>
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="col-sm-12"><label class="col-form-label">Loại khách hàng</label></div>
                        <div class="col-sm-12">
                            <select class="form-control" id="ddl-customer-type">
                                @{
                                    var lstCustType = (List<CustomerType>)ViewBag.ListCustType;

                                    foreach (var item in lstCustType)
                                    {
                                        string selected = item.Code == "Khach_Le" ? "selected='selected'" : string.Empty;
                                        <option value="@(item.Code)" @(selected)>@item.Name</option>
                                    }
                                }
                            </select>

                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="col-sm-12"><label class="col-form-label">Khách hàng</label></div>
                        <div class="col-sm-12">
                            <select class="form-control" id="ddl-customer" data-style="btn-info" data-live-search="true"></select>

                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="col-sm-12"><label class="col-form-label">Đối tượng</label></div>
                        <div class="col-sm-12">
                            <select id="ddl-objType" class="form-control" data-style="btn-info">
                                <option value="NguoiLon">Người lớn</option>
                                <option value="TreEm">Trẻ em</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<section class="content">
    <div class="row">
        <div class="col-sm-6">
            <input type="hidden" id="hid_TicketCode" value="" />
            <input type="hidden" id="hid_TicketPrice" value="" />

            <div id="div-ticket">
                <div class="row">
                    <table class="table table-bordered bg-white" id="table-ticket-sale">
                        @{
                            var lstGroupTicket = (List<TicketGroupModel>)ViewBag.GroupTicketList;
                            var lstTicket = (List<Ticket>)ViewBag.TicketList;
                            foreach (var itemGroup in lstGroupTicket)
                            {
                                var lstTicketSub = lstTicket.Where(x => x.TicketGroup == itemGroup.GroupCode);
                                if (lstTicketSub.Any())
                                {
                                    <tr>
                                        <th colspan="2"><span class="text-blue">::::: @(itemGroup.GroupName) :::::</span></th>
                                    </tr>
                                    foreach (var itemTicket in lstTicket.Where(x => x.TicketGroup == itemGroup.GroupCode))
                                    {
                                        <tr id="ticket-@(itemTicket.Code)" class="ticket-item" onclick="mouseSelectTicket('@(itemTicket.Code)',@(itemTicket.Price))">
                                            <td width="25%"><i class="fa fa-tag"></i> &nbsp; @(itemTicket.Code)</td>
                                            <td width="75%">@(itemTicket.Description)</td>

                                        </tr>
                                    }


                                }





                            }
                        }
                    </table>
                    
                </div>
               

            </div>



        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-sm-6">
                            
                        </div>
                        <div class="col-sm-6">
                            
                        </div>

                    </div>
                    <div class="row">

                        <div class="col-sm-4">
                            <label class="col-md-12 col-form-label">Đơn giá</label>
                            <div class="col-md-12">
                                <input type="number" class="form-control" style="font-size:16pt;font-weight:bold;" onblur="calculaTotal()" id="txt-price-by-policy" />
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <label class="col-md-12 col-form-label">Số lượng</label>
                            <div class="col-md-12">
                                <input type="number" class="form-control" style="font-size:18pt;font-weight:bold;" onblur="calculaTotal()" id="txt-quanti" value="1" />
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <label class="col-md-12 col-form-label">Thành tiền</label>
                            <div class="col-md-12">
                                <h5 id="span-total" style="font-size:18pt;color:#0094ff;">0</h5>
                            </div>
                        </div>
                    </div>
                    <div class="row">


                        <div class="col-sm-4">
                            <label class="col-md-12 col-form-label">Khuyến mãi (%)</label>
                            <div class="col-md-12">
                                <input type="number" class="form-control" style="font-size:18pt;font-weight:bold;" onblur="calculaTotal()" id="txt-km-percen" value="0" />
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <label class="col-md-12 col-form-label">Tiền khuyến mãi</label>
                            <div class="col-md-12">
                                <h5 id="span-tien-khuyemmai" style="font-size:18pt;color:#b200ff;">0</h5>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <label class="col-md-12 col-form-label">Tổng thanh toán</label>
                            <div class="col-md-12">
                                <h5 id="span-total-after-khuyenmai" style="font-size:18pt;color:#ff0000;">0</h5>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                       
                        
                    </div>
   
                    <div class="row">
                        <div class="col-sm-4">
                            <label class="col-md-12 col-form-label">Hình thức thanh toán</label>
                            <div class="col-md-12">
                                <select class="form-control" id="ddl-paymenttype">
                                    <option value="TM">Tiền mặt</option>
                                    <option value="CK">Chuyển khoản</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <label class="col-md-12 col-form-label">Khách đưa</label>
                            <div class="col-md-12">
                                <input type="number" class="form-control" style="font-size:16pt;font-weight:bold;" onblur="calculaTotal()" id="txt-cus-payamount" />
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <label class="col-md-12 col-form-label">Tiền thối</label>
                            <div class="col-md-12">
                                <h5 id="span-tien-thoi" style="font-size:18pt;">0</h5>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-sm-8">
                            <label class="col-md-12 col-form-label">Loại đơn</label>
                            <div class="row">
                                <div class="col-md-6">
                                    <input type="radio" style="width:15px;height:15px;margin-left:10px;" value="false" name="radioisfree" checked="checked" />&nbsp;Bình thường
                                </div>
                                <div class="col-sm-6">
                                    <input type="radio" style="width:15px;height:15px;" value="true" name="radioisfree" />&nbsp;Miễn phí
                                </div>
                            </div>
                           
                        </div>
  
                        <div class="col-sm-4">
                            <label class="col-md-12 col-form-label">Kiểu in</label>
                            <div class="col-md-12">
                                <select id="ddl-printtypes" class="form-control" data-style="btn-info">
                                    <option value="InLe">In lẻ</option>
                                    <option value="InGop">In gộp</option>
                                    <option value="InQRCode">In QR Code</option>
                                </select>
                            </div>
                        </div>




                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        @{
                            for (int stt = 1; stt <= 9; stt++)
                            {
                                <div class="col-sm-2">
                                    <div class="btn-num bg-info" onclick="clickNum(@(stt))">@(stt)</div>
                                </div>
                            }
                            <div class="col-sm-2">
                                <div class="btn-num bg-info" onclick="clickNum(0)">0</div>
                            </div>
                            <div class="col-sm-4">
                                <div class="btn-num bg-warning" onclick="clearQuanti()">Xóa nhập lại</div>
                            </div>
                        }
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="btn-num bg-success" onclick="SaleOrderByGate()">OK BÁN VÉ</div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <br /> <br />

        <div class="col-sm-12" style="margin-top:10px;">
            <div class="card">
                <div class="card-header card-outline card-primary with-border">
                    <h3 class="card-title text-red">Lưu ý: trường hợp lỗi bán vé và cách khắc phục</h3>

                </div>
                <div class="card-body">
                    <span><strong>1. Lỗi thông báo bán vé không thành công: </strong>Kiểm tra internet, hoặc đăng xuất ra và đăng nhập lại</span><br />
                    <span><strong>2. Không in được vé: </strong>Kiểm tra máy in xem có kẹt giấy hoặc hết giấy không? sau đó vào lịch sửa bán vé in lại</span><br />
                    <span><strong>3. Không truy cập được phần mềm: </strong>Kiểm tra internet và liên hệ GAMAN hỗ trợ</span>
                </div>

            </div>
        </div>


    </div>


    <input type="hidden" value="@(ViewBag.Domain)" id="hid-domain" />
</section>
@section scripts{

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.8/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>


    <script>
        var arrPricePolicy = [];
        $(document).ready(function () {

            GetAllPricePolicy();
            GetCustomerByType();
            $("#ddl-customer-type").change(function () {
                GetCustomerByType();
                let priceSale = GetPriceForSale();
                $("#txt-price-by-policy").val(priceSale);
                calculaTotal();
            });

            $("#ddl-objType").change(function () {
                let priceSale = GetPriceForSale();
                $("#txt-price-by-policy").val(priceSale);
                calculaTotal();
            });

            


        });


        function GetAllPricePolicy() {
            $.ajax({
                type: "Get",
                contentType: 'application/json; charset=utf-8',
                url: "/PricePolicy/GetAllPricePolicy",
                success: function (res) {
                    debugger;
                    arrPricePolicy = res;
                    if (arrPricePolicy != null && arrPricePolicy.length > 0) {
                        $("#span-price-policy-available").addClass("fa fa-star");
                    }
                }
            });
        }


       

        function mouseSelectTicket(ticketCode, price) {
            
            if (!$("#ticket-" + ticketCode).hasClass("ticket-item-selected"))
            {
                $(".ticket-item").removeClass("ticket-item-selected");
                $("#ticket-" + ticketCode).addClass("ticket-item-selected");
                $("#hid_TicketCode").val(ticketCode);
                $("#hid_TicketPrice").val(price);

                let priceSale = GetPriceForSale();
                $("#txt-price-by-policy").val(priceSale);
                calculaTotal();
            };


        }
        function calculaTotal()
        {
            /* tổng trước khuyến mãi */
            let quanti = ($("#txt-quanti").val() == "" || $("#txt-quanti").val() == null) ? 0 : parseInt($("#txt-quanti").val());
            let price = ($("#txt-price-by-policy").val() == "" || $("#txt-price-by-policy") == null) ? 0 : parseFloat($("#txt-price-by-policy").val());
            let totalFirst = quanti * price;
            $("#span-total").html(RenderTotal(totalFirst));

            /* khuyến mãi */
            let discountPercent = ($("#txt-km-percen").val() == "" || $("#txt-km-percen").val() == null) ? 0 : parseFloat($("#txt-km-percen").val());
            let tienkhuyenmai = Math.round((totalFirst * (discountPercent / 100)));
            let tienkhuyenmailamtron = LamTronKhuyenMai(tienkhuyenmai);
            $("#span-tien-khuyemmai").html(RenderTotal(tienkhuyenmailamtron));

            /* tổng sau khuyến mãi*/
            let totalLast = totalFirst - tienkhuyenmailamtron;
            $("#span-total-after-khuyenmai").html(RenderTotal(totalLast));

            /* tiền thối*/
            let khachdua = ($("#txt-cus-payamount").val() == "" || $("#txt-cus-payamount").val() == null) ? 0 : parseFloat($("#txt-cus-payamount").val());
            let tienthoi = khachdua - totalLast;
            $("#span-tien-thoi").html(RenderTotal(tienthoi));
        }

        function LamTronKhuyenMai(tienkm)
        {
            let arrKM = RenderTotal(tienkm).split(",");
            if (arrKM.length > 0)
            {
                let hantram = parseFloat(arrKM[arrKM.length - 1]);
                if (hantram >= 500) {
                    return tienkm + (1000 - hantram);
                }
                else {
                    return tienkm - parseFloat(hantram);
                }
            }
            
        }
        function clickNum(num) {

            let currentNum = $("#txt-quanti").val();
            let newNum = currentNum + "" + num;

            $("#txt-quanti").val(newNum);
            calculaTotal();
        }
        function clearQuanti() {

            $("#txt-quanti").val(null);
            calculaTotal();
        }




        function GetCustomerByType() {
            let customerType = $("#ddl-customer-type").val();
            $.ajax({
                type: "Get",
                contentType: 'application/json; charset=utf-8',
                url: "/Customer/GetListCustomerByCustType?customerType=" + customerType,
                success: function (res) {
                    let optionCus = "";
                    $.each(res, function (key, value) {
   
                        optionCus = optionCus + "<option value='" + value.customerCode+"'>"+value.customerName+"</option>";
                    });
                    $("#ddl-customer").html(optionCus);

                }
            });
        }


        function GetPriceForSale() {
            let ticketCode = $("#hid_TicketCode").val();
            let customerType = $("#ddl-customer-type").val();
            let objType = $("#ddl-objType").val();

            let policyOject = arrPricePolicy.filter(x => x.ticketCode == ticketCode
                && x.customerType == customerType
                && x.customerForm == objType)[0];

            if (policyOject != null) {
                return policyOject.price;
            } else {
                return 0;
            }


        }

        function SaleOrderByGate()
        {

            


            if ($("#txt-quanti").val() == "" || $("#txt-quanti").val() == null) {
                bootbox.alert(AlertFail("Bạn chưa chọn số lượng"));
            }
            else if ($("#txt-km-percen").val() == "" || $("#txt-km-percen").val() == null)
            {
                bootbox.alert(AlertFail("Bạn chưa nhập khuyến mãi, không có thì nhập khuyến mãi = 0"));
            }
            else if ($("#hid_TicketCode").val() == "" || $("#hid_TicketCode").val() == null) {
                bootbox.alert(AlertFail("Bạn chưa chọn vé bán"));
            }
            else {

                let quanti = ($("#txt-quanti").val() == "" || $("#txt-quanti").val() == null) ? 0 : parseInt($("#txt-quanti").val());
                let doituong = $("#ddl-objType").val();
                let isFree = $('input[name="radioisfree"]:checked').val();
                let price = GetPriceForSale();

                if (price == 0) // nếu price ko nằm trong policy
                {
                    price = parseFloat($("#txt-price-by-policy").val());
                }

                let discountPercent = ($("#txt-km-percen").val() == "" || $("#txt-km-percen").val() == null) ? 0 : parseFloat($("#txt-km-percen").val());
                let discountValue = $("#span-tien-khuyemmai").text();
                let khachdua = ($("#txt-cus-payamount").val() == "" || $("#txt-cus-payamount").val() == null) ? 0 : parseFloat($("#txt-cus-payamount").val());
                debugger;
                let customerName = $("#ddl-customer option:selected").text();
                var modelData = {
                    TicketCode: $("#hid_TicketCode").val(),
                    CustomerCode: $("#ddl-customer").val(),
                    CustomerName: customerName,
                    CustomerType: $("#ddl-customer-type").val(),
                    ObjType: doituong,
                    PrintType: $("#ddl-printtypes").val(),
                    Quanti: quanti,
                    Price: price,
                    IsFree: isFree,
                    GateName: "LBL",
                    DiscountPercent: discountPercent,
                    DiscountValue: discountValue,
                    TienKhachDua: khachdua,
                    PaymentType: $("#ddl-paymenttype").val()
                }

                $.ajax({
                    type: "POST",
                    contentType: 'application/json; charset=utf-8',
                    url: "/TicketOrder/SaleOrderAction",
                    dataType: 'json',
                    data: JSON.stringify(modelData),
                    beforeSend: function () {
                        ShowWaiting();
                    },
                    success: function (res) {
                        HideWaiting();
                        debugger;
                        if (res.lstSubCode.length > 0)
                        {

                            bootbox.alert(AlertSuccess("Bán vé thành công, chuẩn bị in vé"), function () {
                                let printOptionVal = $("#ddl-printtypes").val();
                                PrintOrder(printOptionVal, res.orderId, res.lstSubCode);
                                ResetSale();
                            });

                        } else {
                            bootbox.alert(AlertFail("Bán vé không thành công, vui lòng đăng xuất và đăng nhập lại"));
                        }

                    }
                });
            }





        }


        function PrintOrder(printOption,orderId ,lstTicketSuccess) {
            debugger;
            let domain = $("#hid-domain").val();
            if (printOption == "InLe") {
                $.each(lstTicketSuccess, function (index, value) {
                    printPdf(domain+"/ticketorder/GetPDFForPrint?subId=" + value.subId);
                });
            } else if (printOption == "InGop") {
                let firstRowId = lstTicketSuccess[0].subId;
                printPdf(domain + "/ticketorder/GetPDFForPrint?subId=" + firstRowId);
            } else if (printOption == "InQRCode") {
                window.open(domain+'/ticketorder/PrintQRview?orderId=' + orderId, '_blank');
            }
        }
        


        function selectTicketItem(ticketCode, price, obj) {

            debugger;
            $("#hid_GateCode").val(null);
            $("#hid_GatePrice").val(null);

            $("#hid_GateCode").val(ticketCode);
            $("#hid_GatePrice").val(price);

            $("#span-ticket-selected").html("");
            $("#span-ticket-selected").html(ticketCode);

            $(".ticket-item").removeClass("ticket-item-selected");
            $(obj).addClass("ticket-item-selected");

            calculaTotal();





        }

        function printPdf(url) {
            var iframe = document.createElement('iframe');
            // iframe.id = 'pdfIframe'
            iframe.className = 'pdfIframe'
            document.body.appendChild(iframe);
            iframe.style.display = 'none';
            iframe.onload = function () {
                setTimeout(function () {
                    iframe.focus();
                    iframe.contentWindow.print();
                    URL.revokeObjectURL(url)
                    // document.body.removeChild(iframe)
                }, 1);
            };
            iframe.src = url;
            // URL.revokeObjectURL(url)
        }

        function ResetSale() {
            $(".ticket-item").removeClass("ticket-item-selected");
            $("#txt-quanti").val(1);
            $("#hid_TicketCode").val(null);
            $("#txt-price-by-policy").val(null);
            $("#ddl-printtypes").val("InLe");
            $("#ddl-customer").val("MACDINH");
            $("#ddl-customer-type").val("Khach_Le");
            $("#txt-cus-payamount").val(null);
            $("#txt-km-percen").val(0);
            $("#span-tien-thoi").html("");
            calculaTotal();
        }
        function RenderTotal(data) {
            var res = "";
            if (data !== undefined) {
                res = data.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,');
            }
            return res;
        }
    </script>
}